node_modules/
*.swp
###############################################################################################
# Ignore other files
###############################################################################################

.eslintrc.js
.jscsrc
.npmignore
test
!source/test/
distribution/
