node_modules/
*.swp
###############################################################################################
# Ignore other files
###############################################################################################

./test/
distribution/
