node_modules/
*.swp
###############################################################################################
# Ignore other files
###############################################################################################

test
!source/test/
distribution/
