node_modules/
*.swp
###############################################################################################
# Ignore other files
###############################################################################################

source
test
